.container {
  margin: 0 auto;
  padding: 40px;
  width: 20%;
  color: #333;
  background: #419be0;
}

ul li div img {
  width: 370px;
  height: 400px;
  object-fit: fill;
  margin:auto;
}

ul li div {
  height: 400px;
}
